.purple-band {
    background-color: #B66FA0; /* Couleur violet pour la bande */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.social-links {
    display: flex;
    gap: 20px; /* Espacement entre les icônes */
}

.social-links img {
    position: relative;
    right: -780px;
    width: 30px;  /* Taille de l'icône */
    height: auto;
}

.site-informations {
    font-family: sans-serif;
    font-size: small;
    font-style: italic;
    display: flex;
    position: relative;
    left: -150px;
    color: white;
    gap: 20px;
    align-items: center;
}

.site-informations .contact {
    color: white;
    text-decoration: none;
}

.site-informations .cgv {
    color: white;
    text-decoration: none;
}

.site-informations .FAQ {
    color: white;
    text-decoration: none;
}