.navbar{
    display: flex;
    justify-content: space-between; /* espace entre les liens */
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 65px;
    left: 0;
    z-index: 1000;
}
.logo-container {
    display: flex;
    align-items: center;
    min-height: 50px;
}
.logo{  
    position: absolute;
    bottom: -2px;
    left:  200px;
    width: 280px;
}

.nav-links {
    position: absolute;
    right: 750px;
}

.nav-link {
    margin: 0 15px; /* Espacement entre les liens */
    text-decoration: none;
    color: #000; /* Couleur des liens */
    font-size: 18px; /* Taille de la police des liens */
    text-transform: uppercase;
}

/* Optionnel : Ajoutez un effet de hover pour les liens */
.nav-link:hover {
    color: #B66FA0; /* Change la couleur au survol */
}

.nav-icons{
    display: flex;
    align-items: center;
    position: relative;
    width: 440px;
}

.accountlogo, .cartlogo {
    width: 35px;
    position: absolute;
}

.accountlogo {
    right: 390px;
    bottom: -18px;
}

.cartlogo {
    right: 340px;
    bottom: -18px;
}
