.navbar{
    display: flex;
    justify-content: space-between; /* espace entre les liens */
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.logo{  
    width: 240px;
    position: absolute;
    left: 180px; /* Ajustez cette valeur pour déplacer le logo vers la droite */
    height: auto;
    z-index: 100; /* Assurez-vous que le logo est au-dessus des autres éléments */
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 390px;
    flex: 1; /* Prend tout l'espace horizontal disponible */
}

.nav-link {
    margin: 0 15px; /* Espacement entre les liens */
    text-decoration: none;
    color: #000; /* Couleur des liens */
    font-size: 18px; /* Taille de la police des liens */
    text-transform: uppercase;
}

/* Optionnel : Ajoutez un effet de hover pour les liens */
.nav-link:hover {
    color: #B66FA0; /* Change la couleur au survol */
}

.accountlogo{
    width: 35px;
    align-self: flex-start;
    position: relative;
    bottom: 390px;
    left: 300px;
}

.cartlogo {
    width: 35px;
    align-self: flex-start;
    position: relative;
    bottom: 390px;
    left: 320px;
}
